# Main domain for all services and emails account.
INITDOMAIN=example.test

# Postgres user and password
PG_USER=root
PG_PASS=toor

# One password for all users accounts
GLOBAL_PASS=password

# System versions
RT_VERSION=6.0.3
RTIR_VERSION=6.0.3
# Platform for RTIR: amd64 or arm
RTIR_PLATFORM=amd64

POSTGRES_RELEASE=18.6
DOCKER_MAILSERVER_RELEASE=15.1.0
ROUNDCUBE_RELEASE=1.7.3-apache
UBUNTU_RELEASE=26.04
ADMINER_RELEASE=5.5.1

# For MAC (arm) please use 10.11.8 version
MM_RELEASE=11.7.0
# 'mattermost-enterprise-edition' or 'mattermost-team-edition'
MM_EDITION=mattermost-team-edition
PYTHON_RELEASE=3.14.7
